<h3><%= @title = "OpenVPN Service Tools" %></h3>

<h4>Status:</h4>

<div class="action">
  <% if openvpn_status %>
    <%= image_tag "icons/96/Ball-go.png" %>
    <span class="action_label">Running</span>
  <% else %>
    <%= image_tag "icons/96/Ball-stop.png" %>
    <span class="action_label">Not Running</span>
  <% end %>
</div>

<br clear="both"/>

<h4>Actions:</h4>
<div class="action">
  <%= link_to image_tag("icons/96/Button-shutdown.png"), stop_openvpn_path, :method => :put %>
  <%= link_to "Stop", stop_openvpn_path, :method => :put, :class=>"action_label" %>
</div>

<div class="action">
  <%= link_to image_tag("icons/96/Button-go.png"), start_openvpn_path %>
  <%= link_to "Start", start_openvpn_path, :class=>"action_label" %>
</div>

<div class="action">
  <%= link_to image_tag("icons/96/Button-reboot.png"), restart_openvpn_path %>
  <%= link_to "Restart", restart_openvpn_path, :class=>"action_label" %>
</div>


<br clear="both"/>
