<fieldset>
  <legend>Required Fields</legend>
  <table>
    <tr>
  	  <td><%= f.label :name, "Name" %> </td>
      <td><%= f.text_field :name, :size => 24 %></td>
    </tr>
    <tr>
      <td><%= f.label :email, "Email" %></td>
      <td><%= f.text_field :email, :size => 24 %></td>
    </tr>
    </table>
</fieldset>
  
<fieldset>
  <legend>Optional</legend>
  <table>
    <tr>
      <td><%= f.label :notes %> </td>
      <td><%= f.text_area :notes, :rows => 12, :rows => 3 %></td>
    </tr>
  </table>
  
</fieldset>
