<h3>Global Settings and for generating OpenVPN certificates</h3>

<h4>Be carefull editing VPN related settings</h4>

<br />

<table id="gradient-style">
  <tr>
    <td>Name</td>
    <td>Value</td>
    <td> </td>
    <td> </td>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= link_to setting.var, setting %> </td>
    <td><%= setting.value %> </td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
    <td><%= link_to 'Del', setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New setting', new_setting_path %>